name: build-and-push

on:
  push:
    branches: ["main"]
    tags: ["v*.*.*"]

jobs:
  docker:
    runs-on: ubuntu-latest
    environment: "Docker Hub Deployment"
    permissions:
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            stargazer2026/wiim-now-playing:latest
            stargazer2026/wiim-now-playing:${{ github.ref_name }}

